footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(251, 134, 153);
    height: 40px;
    font-size: 1rem;
    position: sticky;
    bottom: 0;
    left: 0;
    right:0;
    margin: 0;
    height: auto;


}
p {
    font-style: italic;
}
.add-button {
    text-decoration: none;
    color: black;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(222, 222, 222);
    font-size: 1rem;
    font-weight: bold
}
