header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(251, 134, 153);
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
}
#greetingMsg {
    font-family: 'Times New Roman', Times, serif;
}
.home-button {
    text-decoration: none;
    color: black;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(222, 222, 222);
    font-size: 1rem;
}

.home-button:hover {
    background-color: white;
}

.login-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.login-container button {
    color: black;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(222, 222, 222);
    font-size: 1rem;
    font-weight: bold;
}

.login-container button:hover {
    cursor: pointer;
    background-color: white;
}

.login-container form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.login-container input {
    border: solid black 1px;
}

.italic {
    font-style: italic;
}

header {
    position: sticky;
    left: 0;
    right:0;
    top: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}
 
