.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-style: solid;
    border-radius: 20px;
    max-width: 400px;
    background-color: rgb(237, 218, 193);
    gap: 20px;
}
.card li {
    font-style: italic;
    color: rgb(151, 21, 40);
}
.card a{
    padding: 5px;
    border: solid 2px rgb(151, 21, 40);
    border-radius: 12%;
    background-color: rgb(151, 21, 40);
    color: white;
    text-decoration: none;
}

.card a:hover {
    background-color: rgb(205, 225, 250);
    color: rgb(151, 21, 40);
}

.card img {
    max-width: 250px;
    min-width: 100px;
    height: 200px;
}

.card-buttons {
    padding-top: 15px;
    display: flex;
    gap: 10px;
}

.label-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

input {
    border: solid black 1px;
    width: 55%
}